img {
    border-radius: 15px;
    display: block;
    max-width: 100%;
    height: auto;
}

hr {
    width: 90%;
}

.Flower,.crazyGirl, .Dorian, .PinkKiller, .Icarus, .Faker {
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
}

div > div {
    display: flex; /* Usa Flexbox para alinear la imagen y el título h2 */
    flex-direction: column; /* Apila los elementos en vertical */
    align-items: center; /* Centra los elementos horizontalmente */
}

.IceFlower, .title, .PlantGirl, .Dorian-Text, .PinkKiller-Text, .Intro, .Icarus-Text, .Faker-Text{
    text-align: center;
}


.Dorian-Text {
    color: rgb(27, 3, 54);
    background-color: rgb(118, 108, 124);
    border-radius: 12px;
}
.Icarus-Text {
    color: rgb(113, 16, 16);
    background-color: rgb(203, 142, 109);
    border-radius: 12px;
}
.IceFlower {
    color: rgb(32, 32, 94);
    background-color: rgb(138, 196, 175);
    border-radius: 12px;
}
.PinkKiller-Text{
    color: rgb(114, 33, 116);
    background-color: rgb(197, 168, 192);
    border-radius: 12px;
}

.PlantGirl {
    color: rgb(22, 37, 22);
    background-color: rgb(138, 181, 110);
    border-radius: 12px;

}

.title {
    color: rgb(116, 66, 116);
}