img {
    border-radius: 15px;
    display: block;
    max-width: 100%;
    height: auto;
}

hr {
    width: 90%;
}

.Flower,.crazyGirl, .Dorian, .PinkKiller, .Icarus {
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
}

div > div {
    display: flex; /* Usa Flexbox para alinear la imagen y el título h2 */
    flex-direction: column; /* Apila los elementos en vertical */
    align-items: center; /* Centra los elementos horizontalmente */
}

.IceFlower, .title, .PlantGirl, .Dorian-Text, .PinkKiller-Text, .Intro, .Icarus-Text{
    text-align: center;
}

.Icarus-Text {
    color: rgb(113, 16, 16);
}
.IceFlower {
    color: rgb(54, 54, 104);
}
.PinkKiller-Text{
    color: rgb(114, 33, 116);
}

.PlantGirl {
    color: rgb(22, 37, 22);
}

.title {
    color: rgb(116, 66, 116);
}